.profile-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    img {
        height: 64px;
        border-radius: 50px;
    }

    .profile-button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: green;
        color: white;
        padding: 5px 5px;
        font-size: x-small;
        border-radius: 10px;
        font-weight: bold;
        text-transform: uppercase;

        &.logged {
            background-color: red;
            color: black;
        }
    }
}